.settings-screen {
    flex: 1;
    gap: 15px;
    padding: 15px;
    display: grid;
    align-items: flex-start;
    grid-template-rows: max-content;
    height: max-content;
    max-height: 100vh;
    max-height: 100dvh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

